@font-face {
	font-display: swap;
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 700;
	src: local('Work Sans'), url('@/fonts/work-sans-700.woff2') format('woff2');
}

@font-face {
	font-display: swap;
	font-family: 'Merriweather';
	font-style: normal;
	font-weight: 400;
	src: local('Merriweather'), url('@/fonts/merriweather-400.woff2') format('woff2');
}