:root {
	--fontMerriweather: 'Merriweather', serif;
	--fontWorkSans: 'Work Sans', sans-serif;
	--baseFontSize: pxToRem(16);

	--colorBaseText: white;
	--colorTeal: #50B0CC;
	--colorTealDark: #326D80;
	--colorDarkGray: #111;

	--colorGraySemi: #ffffff40;
}
