:root {
	--fontMerriweather: 'Merriweather';
	/* --fontWorkSans: 'Work Sans' */
	--fontPermanentMarker: 'Permanent Marker';
	--baseFontSize: pxToRem(16);

	--colorBaseText: white;
	--colorTeal: #50B0CC;
	--colorTealDark: #326D80;
	--colorDarkGray: #111;

	--colorShimmerDark: #222;
	--colorShimmerLight: #333;

	--colorGraySemi: #ffffff40;
}